main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#hotelForm label,
#hotelForm input {
    display: block;
    margin-bottom: 10px;
}

#hotelForm {
    max-width: 400px;
    font-size: 2rem;
    background-color: #79c2d0;
    box-shadow: 5px 5px 10px #888888;
    padding: 20px 25px;
    text-align: center;
    color: #FFF;
}

#hotelForm button {
    align-self: center;
    background: #53a8b6;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #FFF;
}