main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#hotelForm label,
#hotelForm input {
    display: block;
    margin-bottom: 10px;
}

#findHotelH1 {
    color: #53a8b6;
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: normal;
}

#hotelForm {
    max-width: 400px;
    font-size: 2rem;
    background-color: #79c2d0;
    box-shadow: 5px 5px 10px #888888;
    padding: 20px 25px;
    text-align: center;
    color: #FFF;
}

#hotelForm button {
    align-self: center;
    background: #53a8b6;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #FFF;
}

#listaHoteis {
    margin-top: 30px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 2rem;
    display: none;
    list-style-type: none;
}

#listaHoteis li {
    margin-bottom: 20px;
    display: block; 
}

