#findHotelH1 {
    color: #53a8b6;
    font-size: 5rem;
    margin-bottom: 20px;
    font-weight: normal;
}

#listaHoteis {
    margin-top: 30px;
    padding: 20px 40px;
    color: #FFF;
    font-size: 2rem;
    display: none;
    list-style-type: none;
}

#listaHoteis li {
    margin-bottom: 20px;
    display: block; 
}

